{% extends 'base.html.twig' %}


{% block title %}{{parent()}} | Detail{% endblock %}

 {% block body %}
<h1>Page detail</h1>

<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ wish.title }}</h5>
    <p class="card-text">{{ wish.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ wish.author }}</li>
    <li class="list-group-item">{{ wish.dateCreated |date("Y-m-d") }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>




{% endblock %}
